<div class="body_container">

  <div id="index_header">
    <h1>Let's look at <%=params[:search]%>:</h1>
  </div>

  <div id="photos_container">
    <% @photos_array.each do |photo| %>


        <div class='each_photo_container' id='<%=photo[:id]%>' >
        <%= link_to '#' do %>
          <%= image_tag photo[:s_url] %>
        <% end %>
        </div>

     <!-- Masonry/Pinterest Layout + InfiniteScroll/Pagination -->
     <script type="text/javascript">
      $(function () {

        var $container = $('#photos_container');

        $container.imagesLoaded(function(){
          $container.masonry({
           itemSelector : '.each_photo_container',
          });
        });
        
        
       /*
        $container.infinitescroll({
          navSelector  : 'div.#page_navigation',            
                  // selector for the paged navigation (it will be hidden)
          nextSelector : 'div.#page_navigation a',    
                  // selector for the NEXT link (to page 2)
          itemSelector : '.each_photo_container'          
                   // selector for all items you'll retrieve

        },
        //trigger masonry on infinitescroll callback and add id to div
          function(newElements){
            var $newElems = $(newElements).css({ opacity: 0 });
            $newElems.imagesLoaded(function(){
              $newElems.animate({ opacity: 1 });
              $newElems.attr('id', this.id);
              $container.masonry('appended', $newElems, true);


            });
          }

        );
       */



      });
     </script> 

    <!-- Load Modal onClick -->
    <script type="text/javascript">
    jQuery(function() {
      $('#<%=photo[:id]%>').click(function (e) {
        
        //ajax call to fetch photo info
        
        var fetch_id = '<%=photo[:id]%>';
        var fetch_secret = '<%=photo[:secret]%>';  

        $.ajax({
          type: 'GET',
          url: '/photos/fetch_info',
          dataType: 'json',
          data: { 'id' : fetch_id, 'secret' : fetch_secret },
          success: function(data){
                           
            //edit innerHTML of basic_modal
            $('.basic_modal').html(

              "<div id='googlemap_image'>"+
                "<img src=\""+ "http://maps.googleapis.com/maps/api/staticmap?center=" + data.location.latitude + "," + data.location.longitude + "&zoom=14&size=400x300&sensor=false&markers=" + data.location.latitude + "," + data.location.longitude + "\">"+
              "</div>" +

              "<div id='modal_image'>"+
                "<%= escape_javascript(image_tag photo[:url]) %>"+
              "</div>"+

              "<div id='modal_photo_info_container'>"+
                 "<div class='modal_photo_attr'>"
                    +data.title+ 
                 "</div>"+ 
                 "<div class='modal_photo_attr'>"+
                    "By: " +data.owner.username+ 
                 "</div>"+ 
                 "<div class='modal_photo_attr'>"
                    +data.location.region._content+ ", " +data.location.country._content+ 
                 "</div>"+
              "</div>"
                 


             );



            //load modal
            $('.basic_modal').modal({
              overlayClose:true
            });

          } //end success: function(result)
        });



        return false;
      });
    });

    </script>



    <% end %>

   

    <div class="basic_modal">
    </div>

  </div><!--End photos_container-->
  
  <div id="page_navigation">

    <% if @page.to_i != 1 || @page.to_i != 0 %>
      <div id="back_button">
        <%= link_to "<<Back", {:controller => "photos", :action => "index", :page => @page.to_i-1, :search => params[:search]}%>
      </div>
    <% end %>

    <div id="next_button">
      <%= link_to "Next>>", {:controller => "photos", :action => "index", :page => @page.to_i+1, :search => params[:search]}%>
    </div>

  </div>
</div>
