<div class="body_container">


    <% if @photos_array.empty? %>
      <div id="no_result_text"><p>No results found for <%=params[:search]%>.</p></div>
    <% end %>

  <div id="photos_container">


    <% @photos_array.each do |photo| %>
 
      <!--Div for each photo with embedded data-->
      <%= content_tag "div", :class => "each_photo_container", :id => photo[:id], :data=>{:id=>photo[:id], :secret=>photo[:secret], :farm=>photo[:farm], :server=>photo[:server]} do %>
        <%= link_to '#' do %>
          <%= image_tag photo[:s_url] %>
        <% end %>
      <% end %>

    <% end %>

   
    <!-- Empty modal to be dynamically modified when images are clicked --> 
    <div class="basic_modal">
    </div>

  </div><!--End photos_container-->
  

  <!-- Pagination container -->
  <div id="page_navigation">
    <% if !@photos_array.empty? %>
      <!-- Disable Back button if page 1 -->
      <% if @page.to_i > 1 %>
        <div id="back_button">
          <%= link_to "Back", {:controller => "photos", :action => "index", :page => @page.to_i-1, :search => params[:search]}%>
        </div>
      <% else %>
        <div id="disabled_back_button">
          <p>Back</p>
        </div>
      <% end %>

      <div id="next_button">
        <%= link_to "Next", {:controller => "photos", :action => "index", :page => @page.to_i+1, :search => params[:search]}%>
      </div>
     <% end %>
  </div>

</div>
