<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%# stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= csrf_meta_tags %>


  </head>
  

  <body>

    <div id="navigation_menu">
    </div>

    <%= yield %>

<% if @title != "Home" %>
<script>
jQuery(function () {
	// Changes innerHTML on click
	$('.photo_container').click(function (e) {
		$('#basic_modal').html("<p><%= image_tag modal_url(photo), :class=>'modal_image' %></p>");

		return false;
	});
});
</script>

<% end %>

    <script>

jQuery(function () {
	// Load dialog on page load

	// Load dialog on click
	$('.photo_container').click(function (e) {
		$('#basic_modal').modal({
    overlayClose:true
    });

		return false;
	});
});

    </script>
  </body>

	<% debug(params) if Rails.env.development? %>

</html>
